# autotools and build stuff
Makefile
config.h
ar-lib
stamp-h*
build/
*.log
*.a
*.la
*.lo
*.o
*.trs
*.in
*.m4
.deps
.dirstamp
.libs
/m4/
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/test-driver
/missing
/ltmain.sh
/TAGS

# editors temporary files
*.swp
tmp/

# Test binaries (but not their sources!)
t-*
!t-*.c*

# distributions
/e-antic*.tar.gz
