language: c
cache: ccache
compiler:
  - gcc
  - clang
env:
  MAKE="make -j2"
install:
  - sudo apt-get install libgmp-dev libmpfr-dev
  # set local directory and check name resolution
  - mkdir local
  - export LOCAL="$(readlink -f local)"
  - echo ${LOCAL}
  # build flint
  - git clone https://github.com/wbhart/flint2.git
  - cd flint2
  - ./configure --prefix=${LOCAL} && make install
  - cd ..
  # build arb
  - git clone https://github.com/fredrik-johansson/arb.git
  - cd arb
  - ./configure --prefix=${LOCAL} --with-flint=${LOCAL} && make install
  - cd ..
  # build antic
  - git clone https://github.com/wbhart/antic.git
  - cd antic
  - ./configure --prefix=${LOCAL} --with-flint=${LOCAL} && make install
  - cd ..
  # check linking of installation
  - ldd local/lib/libflint.so
  - ldd local/lib/libarb.so
  - ldd local/lib/libantic.so
  # build e-antic
  - ./bootstrap.sh
  - ./configure CFLAGS="-I${LOCAL}/include" CPPFLAGS="-I${LOCAL}/include" LDFLAGS="-L${LOCAL}/lib"

script:
  - V=1 make distcheck DISTCHECK_CONFIGURE_FLAGS="CFLAGS=\"-I${LOCAL}/include\" CPPFLAGS=\"-I${LOCAL}/include\" LDFLAGS=\"-L${LOCAL}/lib\""
