name: Code Coverage
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

jobs:
  codecov:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "flatsurf,conda-forge", channel-priority: true }
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f libeantic/environment.yml
          mamba env update --quiet -n test -f pyeantic/environment.yml
          conda list
      - name: make check
        shell: bash -l {0}
        run: |
          ./bootstrap
          export CXXFLAGS="--coverage -O0 -UNDEBUG $CXXFLAGS"
          ./configure --prefix="$PREFIX"
          make check
      - name: show logs
        run: grep "" /dev/null `find -name '*.log'` || true
        if: ${{ always() }}
      - uses: codecov/codecov-action@v1

env:
  MAKEFLAGS: -j2
