name: Integration
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: integration-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-normaliz:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.42.1 }
      - run: pixi run -e libeantic-normaliz-integration check-normaliz
