name: Code Lint
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        task: ["codespell", "compiler-warnings-clang", "compiler-warnings-gcc"]
    steps:
      - uses: actions/checkout@v5
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.2
        with: { pixi-version: v0.42.1 }
      - run: pixi run -e dev ${{ matrix.task }}
