name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

jobs:
  test-libeantic:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        target:
          - check
        libflint:
          - 2.6
          - 2.7
        include:
          - libflint: 2.7
            target: check-valgrind
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - name: install valgrind and libc debug symbols
        run: sudo apt install libc6-dbg valgrind
        if: ${{ matrix.target == 'check-valgrind' }}
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "flatsurf,conda-forge", channel-priority: true }
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f libeantic/environment.yml
          mamba install libflint=${{ matrix.libflint }}
          conda list
      - name: make ${{ matrix.target }}
        shell: bash -l {0}
        run: |
          ./bootstrap
          cd libeantic
          export CFLAGS="$CFLAGS -UNDEBUG"
          export CXXFLAGS="$CXXFLAGS -UNDEBUG"
          ./configure --prefix="$PREFIX" --without-benchmark
          make
          make V=1 ${{ matrix.target }}
      - name: show logs
        run: grep "" /dev/null `find -name '*.log'` || true
        if: ${{ always() }}
  test-pyeantic:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: ["3.6", "3.7", "3.8", "3.9"]
        target:
          - check
        include:
          - python: 3.9
            target: check-valgrind
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - name: install valgrind and libc debug symbols
        run: sudo apt install libc6-dbg valgrind
        if: ${{ matrix.target == 'check-valgrind' }}
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "flatsurf,conda-forge", channel-priority: true }
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f libeantic/environment.yml
          mamba env update --quiet -n test -f pyeantic/environment.yml
          conda list
      - name: make ${{ matrix.target }}
        shell: bash -l {0}
        run: |
          ./bootstrap
          export CXXFLAGS="$CXXFLAGS -UNDEBUG"
          ./configure --prefix="$PREFIX" --without-benchmark
          make
          cd pyeantic
          make V=1 ${{ matrix.target }}
      - name: show logs
        run: grep "" /dev/null `find -name '*.log'` || true
        if: ${{ always() }}
  distcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "flatsurf,conda-forge", channel-priority: true }
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f libeantic/environment.yml
          mamba env update --quiet -n test -f pyeantic/environment.yml
          conda list
      - name: make distcheck
        shell: bash -l {0}
        run: |
          ./bootstrap
          ./configure --prefix="$PREFIX" --without-benchmark
          make distcheck
      - name: show logs
        run: grep "" /dev/null `find -name '*.log'` || true
        if: ${{ always() }}

env:
  MAKEFLAGS: -j2
